.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    padding: 10px 10px;
    color: black;
}

.Blog a:hover,
.Blog a:active {
    color: #fff;
    background-color: #d36810;
}

.Blog a.active {
    color: #d36810;
}

.Blog a.active:hover {
    color: #fff;
}